@import "tailwindcss";


@font-face {
	font-family: 'Inkulinati'; 
	src: url(/src/assets/Inkulinati-Regular.otf); 
	/* src: url(/src/assets/TanaUncialSP.otf);  */
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  [data-radix-popper-content-wrapper] {
    z-index: 60 !important;
  }
}

* {
  font-family: "Inkulinati" sans-serif;
  box-sizing: border-box;
}

/* .Toastify {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */


html, body {
  margin: 0;
  padding: 0;
}